.card {
  @apply rounded-md shadow-md hover:-translate-y-2 hover:shadow-lg;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.cardContent {
  @apply flex flex-col gap-3 p-6;
}

.category {
  @apply flex gap-2 text-sm;
  color: #524cdc;
}
